body {
  position: relative;
  margin: 0;
}
.sect {
  width: 100%;
  min-height: 500px;
  font: 1em sans-serif;
  font-size: large;
}
#sect1 {
  color: #fff;
}
h1{
    margin-right: 90%;
}

.img1{
    margin-left: 90%;
}

#sect2 {
  color: #ffff;
  font: sans-serif;
  font-size: 45px;
}

p {
    font-size: 25px;
    margin-left: 2.5%;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
h1 {
  margin: 5px;
  padding-top: 3rem;
  padding-left: 2rem;
}
h2 {
  margin: 5px;
  padding-top: 3rem;
  padding-left: 2rem;
}
button {
    font-size: 25px;
    margin-left: 2.5%;
}

footer {
    align-self: left;
    color: #fff;
    margin-left: 2.5%
}

.img2, .img3, .img4 {
    invert(100%) sepia(29%) saturate(0%) hue-rotate(324deg) brightness(102%) contrast(102%);
}
